<html>
<head>
	<link rel="stylesheet" href='/static/markstryle.css' />
</head>
<body>
<h1>Hi.  Welcome to my tiny Raspberry Pi3 zone</h1>

<h2> Some quick navigation:</h2>
<li><a href='/domprops'>DOM properties for this site</a></li>
<li><a href='/markpage'>markpage</a></li>
<li><a href='/about'>About</a></li>


<p>Image With Border:</p>
<img src="/static/images/20140312_124531.jpg" style="max-width:20%;max-height=40%;border:3px solid black;" alt="Portrait">

</body>
<footer>
    <!-- more stuff -->
    <address>
        <p>Contact:</p>
        <ul>
            <li><a href="mailto:hurricanemark@gmail.com">Email Mark for more indepth development of this starter version</a></li>
        </ul>
    </address>
    <!-- other stuff -->
</footer>
</html>
